.block.about-block {
  padding: 50px;
  background-color: #6556c1;
  background-image: url("/src/assets/img/IMAGE2.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  color: white;
}
h2 {
  font-size: 28px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
}

.text-block {
  margin-bottom: 20px;
  color: #d08c9d;
  text-align: left;
  font-size: 22px;
  padding-left: 5px;
}

.short-text {
  max-width: 80%;
  overflow: hidden;
}

.white-box {
  background-color: white;
  border-radius: 8px;
}

.image-grid {
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 30px;
  text-align: center;
}

.image-grid img {
  width: 100%;
  height: auto;
  max-width: 800px;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .block.about-block {
    padding: 30px;
  }

  .left-section {
    max-width: 500px;
  }

  .text-block {
    font-size: 20px;
  }

  .image-grid {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 768px) {
  .block.about-block {
    padding: 20px;
    background-size: contain;
  }

  .left-section {
    max-width: 100%;
    margin-top: 30px;
  }

  .text-block {
    font-size: 18px;
    padding-left: 0;
  }

  .white-box {
    background-color: white;
    border-radius: 15px;
  }

  .image-grid {
    margin-left: 0;
    margin-right: 0;
  }

  .image-grid img {
    max-width: 100%;
  }

  .image-grid img {
    content: url("/src/assets/img/PHOTO.png");
  }
}

@media (max-width: 480px) {
  .block.about-block {
    padding: 15px;
    background-image: url("/src/assets/img/IMAGEphone2.png");
  }
  h2 {
    margin-left: 20px;
  }
  .text-block {
    font-size: 15px;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 40px;
  }
  .short-text {
    max-width: 70%;
    overflow: hidden;
  }

  .image-grid {
    margin-left: 0;
    margin-right: 0;
  }

  .image-grid img {
    max-width: 80%;
  }
}
